.button-style {
    border: none !important;
    background-color: transparent !important;
    color: #81C408 !important;
}

.button-style:hover {
    color: #FFB524 !important;
}

.ant-select-selection-item {
    font-size: 18px !important;
}

.product-name-style {
    cursor: pointer;
}

.product-name-style:hover {
    color: #679d06;
}

.selected-typeId {
    color: #FFB524 !important;
}

.wishList-style:hover {
    .wishList-style-icon {
        transform: scale(1.7);
    }
}

.style-wishList-true {
    background-color: white !important;

    .wishList-style-icon {
        color: #ff4d4d;
        transform: scale(1.7);
    }
}

.style-wishList-false {
    background-color: #ffb524 !important;
}