.button-style {
    border: none !important;
    background-color: transparent !important;
    color: #81C408 !important;
}

.button-style:hover {
    color: #FFB524 !important;
}

.ant-select-selection-item {
    font-size: 18px !important;
}

.product-name-style {
    cursor: pointer;
}

.product-name-style:hover {
    color: #679d06;
}

.wishList-style:hover {
    .wishList-style-icon {
        transform: scale(1.7);
    }
}

.style-wishList-true {
    background-color: white !important;

    .wishList-style-icon {
        color: #ff4d4d;
        transform: scale(1.7);
    }
}

.style-wishList-false {
    background-color: #ffb524 !important;
}

.form-comment-container {

    input,
    textarea,
    button {
        font-size: 16px;
    }

    .btn-style {
        color: #81c408;
        font-weight: 600;
        border-radius: 50rem;
        border: 1px solid #ffb524;
    }

    .btn-style:hover {
        background-color: #ffb524 !important;
        color: white;
    }

    .ant-input-outlined:hover {
        border-color: #81C408
    }
}

.comment-render {
    .ant-pagination {
        justify-content: end;
    }

    .btn-style-form {
        display: flex;
        justify-content: end;
    }
}