.changepass-container {
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;

    h2 {
        color: #81c408;
        text-align: center;
        padding-bottom: 30px;
    }

    .ant-input-outlined:hover {
        border-color: #81C408
    }

    .ant-picker-outlined:hover {
        border-color: #81C408
    }

    :where(.css-dev-only-do-not-override-1gwfwyx).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
        border-color: #81C408
    }

    &__form {

        .ant-form-item {

            label {
                color: #81c408;
                font-size: 18px;
                min-width: 180px;
                font-weight: bold;
            }

            input {
                font-size: 18px;

            }
        }

        .ant-form-item {
            .ant-form-item-control-input-content {
                display: flex;
                justify-content: center;
                gap: 20px;

                button {
                    background-color: #81c408;
                    color: white;
                    padding: 20px 40px;
                    border-radius: 18px;

                    span {
                        font-size: 18px;
                    }
                }

                button:hover {
                    color: white;
                    background-color: var(--bs-secondary);
                    border: 1px solid var(--bs-secondary);
                }
            }
        }
    }


}

.modal-changepass {
    width: 900px !important;

    .ant-modal-title {
        font-size: 24px;
        font-weight: bold;
        color: #81c408;
        text-align: center;
        padding: 10px;
    }


    .ant-modal-body {
        padding: 24px;


    }

    .table-responsive {
        overflow-x: auto;
        margin-top: 20px;
    }

    .ant-modal-footer {
        display: flex;
        justify-content: space-between;

        button {
            color: white;
            background-color: #81c408;
        }

        button:hover {
            background-color: #ffb524 !important;
        }
    }

    .table-infor {
        padding-left: 20px;

        p {
            display: flex;
            font-size: 16px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 5px;

            strong {
                min-width: 200px
            }
        }
    }

}