.ant-float-btn-body {
    background-color: transparent !important;
}

.ant-float-btn-content {
    overflow: unset !important;
}

.ant-float-btn-icon {
    width: unset !important;
    font-size: 26px !important;
}